$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

$main-font: 'Montserrat', sans-serif;

$accent-color: #dc56c5;
$white-color: #ffffff;
$text-color: #0e0e0e;
$close-modal-color: #4c00fe;
$text-color-opacity: rgba(185, 185, 185, 0.5);
$card-line-decor: rgba(220, 86, 197, 0.3);
$card-box-shadow-hover: rgb(220 86 197 / 50%);

$Loader-size: 20rem;
$Loader-offset: 1.7rem;
$Loader-timing: ease-in-out;
