.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $text-color;
  transition: 900ms;

  &__circle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: $Loader-size;

    &:before,
    &:after {
      content: '';
      position: absolute;
      border-radius: 50%;
      animation-duration: 1.8s;
      animation-iteration-count: infinite;
      animation-timing-function: $Loader-timing;
      filter: drop-shadow(0 0 $Loader-offset / 2.25 rgba($white-color, 0.75));
    }

    &:before {
      width: 100%;
      padding-bottom: 100%;
      box-shadow: inset 0 0 0 $Loader-offset $white-color;
      animation-name: pulsA;
    }

    &:after {
      width: calc(100% - #{$Loader-offset}* 2);
      padding-bottom: calc(100% - #{$Loader-offset}* 2);
      box-shadow: 0 0 0 0 $white-color;
      animation-name: pulsB;
    }
  }

  @keyframes pulsA {
    0% {
      box-shadow: inset 0 0 0 $Loader-offset $white-color;
      opacity: 1;
    }

    50%,
    100% {
      box-shadow: inset 0 0 0 0 $white-color;
      opacity: 0;
    }
  }

  @keyframes pulsB {
    0%,
    50% {
      box-shadow: 0 0 0 0 $accent-color;
      opacity: 0;
    }

    100% {
      box-shadow: 0 0 0 $Loader-offset $white-color;
      opacity: 1;
    }
  }
}

.hide {
  display: none;
}
