body {
  background-image: url(../images/bg-body/bg-noise.png);

  transition: all 0.4s ease;

  @include tablet {
    background: url(../images/bg-body/bg-noise.png),
      url(../images/bg-body/bg-dark-768px.png);
    @include bg-position;
  }

  @include desktop {
    margin: 0 auto;

    background: url(../images/bg-body/bg-noise.png),
      url(../images/bg-body/bg-dark-1280px.png);
    @include bg-position;
  }
}

.light-mode {

  .event__info-date,
  .event__info-place,
  .event__info-location,
  .tui-pagination .tui-page-btn {
    color: $text-color;
  }

  background-color: $white-color;
  background-image: url(../images/bg-body/bg-light.png);

  @include tablet {
    background: url(../images/bg-body/bg-light-768px.png);
    @include bg-position;
  }

  @include desktop {
    margin: 0 auto;

    background: url(../images/bg-body/bg-light-1280px.png);
    @include bg-position;
  }
}